<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Backbone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <header>
      <div class="header">
      <div class="address">Address Book</div>
      <a href="#" class="home">Home</a>
    </div>
    </header>
    <aside class="sidebar">
    </aside>
    <main>

    </main>
    <script type="text/template" id="EditViewTemplate">
      <!-- EDIT! -->
      <div class="container">
        <span class="info">Fill out forms below:</span>
        <br>
        <input type="text" class="input email" value='<%= email %>' placeholder="Email"/>
        <br>
        <input type="text" class="input firstname" value='<%= firstName %>' placeholder="First Name"/>
        <br>
        <input type="text" class="input lastname" value='<%= lastName %>' placeholder="Last Name"/>
        <br>
        <input type="text" class="input phonenumber" value='<%= phoneNumber %>' placeholder="Phone Number"/>
        <br>
        <input type="text" class="input twitter" value='<%= twitter %>' placeholder="Twitter"/>
        <br>
        <input type="text" class="input linkedin" value='<%= linkedin %>' placeholder="Linkedin"/>
        <br>

        <% if(_id) { %>
        <button type="submit" class="input submit" value='submit'>Edit Contact</button>
        <% } else {%>
        <button type="submit" class="input submit" value='submit'>Add Contact</button>
        <% } %>
      </div>
    </script>
    <script type="text/template" id="SidebarTemplate">
      <h2>Sidebar</h2>
        <ul>
          <% _.forEach(contacts, function(contact){ %>
            <li>
              <a href="#contact/<%=contact._id%>"><%= contact.firstName %></a>
            </li>
        </ul>
    </script>
    <script type="text/template" id="ListViewTemplate">
      <h2>Contact List</h2>
      <ul>
        <% _.forEach(contacts, function(contact){ %>
          <li>
            <a href="#contact/<%=contact._id%>"><%= contact.firstName %> <%= contact.lastName %></a>
          </li>
        <% }) %>
      </ul>
    </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
   <script src="app.js"></script>
  </body>
</html>
