.header {
  width: 96%;
  height: 40px;
  background-color: pink;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px; }
  .header .address {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    color: #908F8F;
    font-size: 20px; }
  .header .home {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: #908F8F;
    font-size: 20px; }

.sidebar {
  background-color: #EFEFEF;
  width: 22%;
  float: left;
  border-radius: 6px;
  height: 338px;
  margin-left: 2%;
  margin-right: 1%; }
  .sidebar h2 {
    font-size: 20px;
    text-align: center;
    color: pink;
    font-weight: lighter; }
  .sidebar ul li {
    list-style-type: none;
    font-size: 14px; }
    .sidebar ul li a {
      text-decoration: none;
      color: #3E3939; }

.container {
  background-color: #B7B6BC;
  border-radius: 6px;
  width: 73%;
  margin-right: 2%;
  float: right; }

.info {
  font-size: 20px;
  color: pink;
  font-weight: lighter;
  margin-top: 30px;
  margin-left: 25px; }

.input {
  outline: none;
  margin-left: 220px;
  border: 2px solid pink;
  margin-bottom: 20px;
  font-size: 12px;
  color: #8BA1AC;
  border-radius: 6px;
  text-align: center;
  height: 20px; }
